<section class="gallery">
    <div class="container">
        <div class="img-container">
            <img src="/assets/projekt-muraviceva/muraviceva1.jpg" alt="muraviceva1" id="preview">
            <div class="img-prev text-center">
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva1.jpg" alt="muraviceva1" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva2.jpg" alt="muraviceva2" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva3.jpg" alt="muraviceva3" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva4.JPG" alt="muraviceva4" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva5.JPG" alt="muraviceva5" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva6.jpg" alt="muraviceva6" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva7.jpg" alt="muraviceva7" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva8.JPG" alt="muraviceva8" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva9.JPG" alt="muraviceva9" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva10.JPG" alt="muraviceva10" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva11.JPG" alt="muraviceva11" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-muraviceva/muraviceva12.jpg" alt="muraviceva12" appImage>
                </div>
            </div>
        </div>
    </div>
</section>