<section class="gallery">
    <div class="container">
        <div class="img-container">
            <img src="/assets/projekt-bakaceva/bakaceva1.jpg" alt="bakaceva1" id="preview">
            <div class="img-prev text-center">
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva1.jpg" alt="bakaceva1" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva2.jpg" alt="bakaceva2" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva3.jpg" alt="bakaceva3" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva4.JPG" alt="bakaceva4" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva5.JPG" alt="bakaceva5" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva6.JPG" alt="bakaceva6" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva7.JPG" alt="bakaceva7" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva8.JPG" alt="bakaceva8" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva9.JPG" alt="bakaceva9" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva10.JPG" alt="bakaceva10" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva11.JPG" alt="bakaceva11" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva12.JPG" alt="bakaceva12" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva13.JPG" alt="bakaceva13" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva14.JPG" alt="bakaceva14" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva15.JPG" alt="bakaceva15" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-bakaceva/bakaceva16.JPG" alt="bakaceva16" appImage>
                </div>
            </div>
        </div>
    </div>
</section>