<section class="gallery">
    <div class="container">
        <div class="img-container">
            <img src="/assets/projekt-strossmayerova/stross1.JPG" alt="stross1" id="preview">
            <div class="img-prev text-center">
                <div class="img-slide active">
                    <img src="/assets/projekt-strossmayerova/stross1.JPG" alt="stross1" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-strossmayerova/stross2.JPG" alt="stross2" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-strossmayerova/stross3.JPG" alt="stross3" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-strossmayerova/stross4.JPG" alt="stross4" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-strossmayerova/stross5.JPG" alt="stross5" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-strossmayerova/stross6.JPG" alt="stross6" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-strossmayerova/stross7.JPG" alt="stross7" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-strossmayerova/stross8.JPG" alt="stross8" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-strossmayerova/stross9.JPG" alt="stross9" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-strossmayerova/stross10.JPG" alt="stross10" appImage>
                </div>
            </div>
        </div>
    </div>
</section>