<section class="gallery">
    <div class="container">
        <div class="img-container">
            <img src="/assets/projekt-teslina/teslina1.JPG" alt="teslina1" id="preview">
            <div class="img-prev text-center">
                <div class="img-slide active">
                    <img src="/assets/projekt-teslina/teslina1.JPG" alt="teslina1" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-teslina/teslina2.JPG" alt="teslina2" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-teslina/teslina3.JPG" alt="teslina3" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-teslina/teslina4.JPG" alt="teslina4" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-teslina/teslina5.JPG" alt="teslina5" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-teslina/teslina6.JPG" alt="teslina6" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-teslina/teslina7.JPG" alt="teslina7" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-teslina/teslina8.JPG" alt="teslina8" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-teslina/teslina9.JPG" alt="teslina9" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-teslina/teslina10.JPG" alt="teslina10" appImage>
                </div>
            </div>
        </div>
    </div>
</section>