<section class="gallery">
    <div class="container">
        <div class="img-container">
            <img src="/assets/projekt-gunduliceva/gunduliceva1.JPG" alt="gunduliceva1">
            <div class="img-prev text-center">
                <div class="img-slide active">
                    <img src="/assets/projekt-gunduliceva/gunduliceva1.JPG" alt="gunduliceva1" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-gunduliceva/gunduliceva2.JPG" alt="gunduliceva2" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-gunduliceva/gunduliceva3.JPG" alt="gunduliceva3" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-gunduliceva/gunduliceva4.JPG" alt="gunduliceva4" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-gunduliceva/gunduliceva5.JPG" alt="gunduliceva5" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-gunduliceva/gunduliceva6.jpg" alt="gunduliceva6" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-gunduliceva/gunduliceva7.jpg" alt="gunduliceva7" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-gunduliceva/gunduliceva8.jpg" alt="gunduliceva8" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-gunduliceva/gunduliceva9.jpg" alt="gunduliceva9" appImage>
                </div>
                <div class="img-slide active">
                    <img src="/assets/projekt-gunduliceva/gunduliceva10.jpg" alt="gunduliceva10" appImage>
                </div>
            </div>
        </div>
    </div>
</section>